<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="9" name="Test">
  

    
    

 
   
    <classes>
    
    
      <class name="com.test.bank.UserLoginTest">
       <methods>
        <include name="userLoginTestCases" />
        <include name="checkIDDisplay" />
        <include name="changePassword" />
        <include name="addNewCustomer" />
        <include name="miniStatement" />
        <include name="editCustomer" />
        <include name="depositMoney" />
        <include name="withdrawMoney" />
        <include name="fundTransfer" />
         <include name="balanceEnquiry" />
        
      </methods>
      </class>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
